<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head">
</head>

<body class="bg-light">
<div th:replace="fragments.html :: main-nav"></div>

<div class="py-5 text-center" th:if="${error}">
  <p class="lead">StudyLink Email verification</p>
  <div class="alert alert-danger" role="alert">
    Email verification link is incorrect.
  </div>
</div>

<div class="py-5 text-center" th:if="${error == null}">
  <p class="lead">StudyLink Email verification</p>
  <h2>
    Email Verified. Congratulations <span th:text="${username}">yourName</span>! You are
    <span th:text="${numberOfUser}">10</span>th member of StudyLink!
  </h2>
  <small class="text-info">Now you can log in with your email, or with your username and password.</small>
</div>

<div th:replace="fragments.html :: footer">
</div>

</body>
</html>